.featuredProducts {
    padding: 100px 0;

    .top {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            flex: 2;
            text-transform: capitalize;
        }

        p {
            flex: 3;
            color: gray;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
    }
}